@using ToDoTimeManager.WebUI.Components
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>ToDoTimeManager.WebUI</PageTitle>
<ToastMessageBox />


<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>

    <NotAuthorized>
        @if (!_navigated)
        {
            @NavigateToAuth()
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool _navigated;

    private RenderFragment NavigateToAuth() => builder =>
    {
        _ = Task.Run(async () =>
        {
            await Task.Yield();
            _navigated = true;
            NavigationManager.NavigateTo("/auth");
        });
    };
}

