@using ToDoTimeManager.WebUI.Components
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Components.Toast
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>ToDoTimeManager.WebUI</PageTitle>
<ToastBox />


<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu CollapseNavMenu="ColapseNavMenu" CollapseNavMenuChanged="OnCollapseNavMenuChanged" />
            </div>

            <main @onclick="HideNavMenu">
                <article class="content px-4">
                    <div class="page-container">
                        @Body
                    </div>
                </article>
            </main>
        </div>
    </Authorized>
    <Authorizing>
        <Loader IsLoading="true"/>
    </Authorizing>

    <NotAuthorized>
        @if (!_navigated)
        {
            @NavigateToAuth()
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool _navigated;
    public bool ColapseNavMenu { get; set; }

    private RenderFragment NavigateToAuth() => builder =>
    {
        _ = Task.Run(async () =>
        {
            await Task.Yield();
            _navigated = true;
            NavigationManager.NavigateTo("/auth");
        });
    };

    private void HideNavMenu()
    {
        ColapseNavMenu = true;
        StateHasChanged();
    }

    private void OnCollapseNavMenuChanged(bool obj)
    {
        ColapseNavMenu = obj;
        StateHasChanged();
    }

}

