@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Models
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Localization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskForge</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/home.png" class="nav-item-icon"  alt=""/>
                <span class="oi oi-home nav-item-text" aria-hidden="true">@Localizer["Home"]</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                <img src="images/user.png" class="nav-item-icon"  alt=""/>
                <span class="oi oi-home nav-item-text" aria-hidden="true">@Localizer["Profile"]</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks" Match="NavLinkMatch.All">
                <img src="images/clipboard.png" class="nav-item-icon"  alt=""/>
                <span class="oi oi-home nav-item-text" aria-hidden="true">@Localizer["Tasks"]</span>
            </NavLink>
        </div>

    </nav>
    <div class="nav-bar-culture-selector" @onclick:preventDefault="true" @onclick:stopPropagation="true">
        <CultureSelector/>
    </div>
</div>

@code {
    [Inject] private IStringLocalizer<Resource> Localizer { get; set; } = null!;

    [Parameter] public bool CollapseNavMenu { get; set; }
    [Parameter] public EventCallback<bool> CollapseNavMenuChanged { get; set; }

    private string? NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
        StateHasChanged();
    }
}
