input {
    border-radius: var(--border-radius-box);
    border: 2px solid var(--feldgrau);
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

    input:focus {
        border: 2px solid var(--chestnut);
    }

    input:focus-visible {
        border: 2px solid var(--chestnut);
        outline: unset;
    }

.language-selector {
    border-radius: var(--border-radius-box);
}

select {
    border-radius: var(--border-radius-bth);
    background: var(--feldgrau);
    color: var(--light-text-color);
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
}

    select:focus {
        border: 2px solid var(--chestnut);
    }

    select:focus-visible {
        border: 2px solid var(--chestnut);
        outline: unset;
    }

    select:hover {
        cursor: pointer;
    }

.primary-button {
    width: 100%;
    height: 50px;
    font-size: large;
    border-radius: var(--border-radius-box);
    border: 2px solid var(--feldgrau);
    background: var(--midnight-green);
    color: var(--light-text-color);
}



.secondary-button {
    height: 50px;
    width: 100%;
    font-size: large;
    border-radius: var(--border-radius-box);
    border: 2px solid var(--midnight-green);
    background: transparent;
    color: var(--dark-text-color);
}

button:active {
    border: 2px solid var(--chestnut);
}

.toast-box {
    background: 0 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 10px;
    z-index: 1000;
    right: 50%;
    transform: translateX(50%);
    height: fit-content;
    width: fit-content;
}

.custom-toast {
    width: 40vw;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    border-radius: var(--border-radius-box);
    padding: 10px 10px 10px 15px;
    gap: 20px;
    justify-content: center;
    opacity: 0;
}

@media(max-width: 1500px) {
    .custom-toast {
        width: 50vw;
    }
}

@media(max-width: 1100px) {
    .custom-toast {
        width: 60vw;
    }
}

@media(max-width: 900px) {
    .custom-toast {
        width: 70vw;
    }
}

@media(max-width: 640px) {
    .custom-toast {
        width: 80vw;
    }
}

@media(max-width: 500px) {
    .custom-toast {
        width: 90vw;
    }
}

    .custom-toast svg {
        align-content: center;
        justify-content: center;
        align-self: center;
    }

    .custom-toast .toast-message {
        width: 100%;
        height: 100%;
        margin: 0;
        text-wrap-mode: wrap;
        line-height: 38px;
        font-size: clamp(16px,20px,23px);
        color: var(--white-color);
        font-weight: 550;

    }


    .i-white {
        fill: var(--white-color);
    }

.success {
    background: var(--success-color)
}

    .success .toast-close-button {
        background: #227338;
    }

    .error {
        background: var(--error-color)
    }

        .error .toast-close-button {
            background: #ad2a2a;
        }

.toast-close-button {
    border-radius: var(--border-radius-box);
   
    
    border: 2px solid transparent;
}

.toast-fade-in {
    animation: fadeIn 0.31s linear;
}

.toast-fade-out {
    animation: fadeOut 0.3s linear;
}

.toast-faded {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.secondary-button svg {
    margin-bottom: 3px;
    margin-right: 5px;
    color: var(--midnight-green);
    fill: var(--midnight-green)
}

.primary-button svg {
    margin-bottom: 3px;
    margin-right: 5px;
    color: var(--white-color);
    fill: var(--white-color)
}

.divider {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}