input {
    border-radius: var(--border-radius-box);
    border: 2px solid var(--feldgrau);
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

    input:focus {
        border: 2px solid var(--chestnut);
    }

    input:focus-visible {
        border: 2px solid var(--chestnut);
        outline: unset;
    }

.language-selector {
    border-radius: var(--border-radius-box);
}

select {
    border-radius: var(--border-radius-bth);
    background: var(--feldgrau);
    color: var(--light-text-color);
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
}

    select:focus {
        border: 2px solid var(--chestnut);
    }

    select:focus-visible {
        border: 2px solid var(--chestnut);
        outline: unset;
    }

    select:hover {
        cursor: pointer;
    }

.primary-button {
    width: 100%;
    height: 50px;
    font-size: large;
    border-radius: var(--border-radius-box);
    border: 2px solid var(--feldgrau);
    background: var(--midnight-green);
    color: var(--light-text-color);
}



.secondary-button {
    height: 50px;
    width: 100%;
    font-size: large;
    border-radius: var(--border-radius-box);
    border: 2px solid var(--midnight-green);
    background: transparent;
    color: var(--dark-text-color);
}

button:active {
    border: 2px solid var(--chestnut);
}

.toast-box {
    background: 0 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    z-index: 1000;
    right: 50%;
    transform: translateX(50%);
    height: fit-content;
    width: fit-content;
}

.custom-toast {
    width: 80vw;
    justify-self: center;
    align-self: center;
    display: flex;
}


.i-white {
    fill: var(--white-color);
}

.success {
    background: var(--success-color)
}

.error {
    background: var(--error-color)
}

.toast-close-button {

}
