.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-toggler-icon {
    color: var(--white-color);
}

.nav-scrollable {
    background-color: var(--primary-color-dark) !important;
}

main {
    background-color: var(--main-background-color) !important;
    height: 100%;
}

page {
    height: 100vh
}
