.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-toggler-icon {
    color: var(--white-color);
}

.nav-scrollable {
    background-color: var(--primary-color-dark) !important;
}


