.profile-banner-container {
    background: url(../images/Auth_background.png);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    border: 5px solid var(--midnight-green);
    border-radius: var(--border-radius-container);
}

.rounded-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dark-slate-gray);
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white-color);
    align-self: center;
    justify-self: center;
    transform: translateY(-52%);
    font-size: 60px;
}

@media (max-width: 641px) {
    .rounded-logo {
        width: 125px;
        height: 125px;
        font-size: 50px;
    }
}

.profile-username {
    align-self: center;
    width: fit-content;
    justify-self: center;
    transform: translateY(-50px);
    font-size: 2.5rem;
}
.profile-email {
    align-self: center;
    justify-self: center;
    transform: translateY(-50px);
    width: fit-content;
    font-size: 1.3rem;
}

.profile-action-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 10px
}

@media (max-width: 850px) {
    .profile-action-buttons-container {
        flex-direction: column;
        gap: 10px;
    }
}

.page-container {
    overflow-y: auto;
    padding: 10px;
    height: 100%;
}

@media(max-width: 641px) {
    .page-container {
        padding: 5px !important;
        height: 80vh;
    }
}

