.profile-banner-container {
    background: url(../images/Auth_background.png);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    border: 5px solid var(--midnight-green);
    border-radius: var(--border-radius-container);
}

.rounded-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dark-slate-gray);
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white-color);
    align-self: center;
    justify-self: center;
    transform: translateY(-52%);
    font-size: 60px;
}

@media (max-width: 641px) {
    .rounded-logo {
        width: 125px;
        height: 125px;
        font-size: 50px;
    }
}

.profile-username {
    align-self: center;
    width: fit-content;
    justify-self: center;
    transform: translateY(-50px);
    font-size: 2.5rem;
}
.profile-email {
    align-self: center;
    justify-self: center;
    transform: translateY(-50px);
    width: fit-content;
    font-size: 1.3rem;
}

.profile-action-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 10px
}

@media (max-width: 850px) {
    .profile-action-buttons-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.page-container {
    overflow-y: auto;
    padding: 10px;
    height: 100%;
}

@media(max-width: 641px) {
    .task-block {
        width: 100% !important;
    }


    .page-container {
        padding: 5px !important;
        height: 90vh;
    }
}

@media(min-width: 1648px) {
    .tasks-statistic-container {
        justify-content: space-between !important;
    }
}


.tasks-statistic-container {
    height: fit-content;
    flex-direction: row;
    background: var(--battleship-gray);
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: 10px;
}

.task-block {
    width: 250px;
    background: var(--dark-slate-gray);
    height: 250px;
    border-radius: var(--border-radius-container);
    box-shadow: var(--shadow-card-big);
    color: var(--white-color);
    align-content: center;
    text-align: center;
}

.task-block h1 {
    font-size: 70px;
}

.task-block h4 {
    font-size: 30px;
}

