:root {
    /*custom colors*/
    --midnight-green: #052f33;
    --dark-slate-gray: #284D4C;
    --feldgrau: #496665;
    --battleship-gray: #F2FAF6;
    --chestnut: #9C3A24;
    /*black-white colors*/
    --black-color: #000000;
    --white-color: #ffffff;
    /*state colors*/
    --success-color: #4CAF50;
    --warning-color: #ffc107;
    --error-color: #dc3545;
    /*grey colors*/
    --dark-gray-color: #666;
    --light-gray: rgba(0, 0, 0, 0.4);
    /*text-colors*/
    --light-text-color: white;
    --dark-text-color: black;
    --spacer: 1rem;
    --border-radius-box: 0.4rem;
    --border-radius-bth: 0.25rem;
    --border-radius-container: 1rem;
    --shadow-card: 0 0 10px rgba(0, 0, 0, 0.3);
    --shadow-card-big: 0 0 20px rgba(0, 0, 0, 0.3);
    --shadow-card-very-big: 0 0 50px rgba(0, 0, 0, 0.6);
    --shadow-button: 0 0 10px rgba(0, 0, 0, 0.3);
}
