@using ToDoTimeManager.Shared.Models
@using ToDoTimeManager.WebUI.Shared
@layout AuthLayout

@page "/auth"


<InputText @bind-Value="@User.LoginParameter">

</InputText>
<InputText @bind-Value="@User.Password">

</InputText>

<button @onclick="Login"> login</button>