@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Shared
@layout AuthLayout

@page "/auth"
<PageTitle>@Localizer["Authorization"] - TaskForge</PageTitle>
<CultureSelector/>
<div class="auth-page">

</div>

