@using ToDoTimeManager.WebUI.Components.Base
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Shared
@layout AuthLayout
@inherits BaseComponent

@page "/auth"
@GetPageTitle(nameof(AuthPage))

<div class="auth-page">
    <CultureSelector AdditionalCssClass="culture-selector"/>
    <div class="auth-page__content">
        <LoginForm />
    </div>
</div>

