@page "/"
@attribute [Authorize]
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Services.Implementations

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<Loader IsLoading="false"/>
Welcome to your new app.

@code {
    [Inject] public ToastsService ToastService { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
