@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Enums
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Localization
@using ToDoTimeManager.WebUI.Services.Implementations

@page "/"
@attribute [Authorize]
<PageTitle>@Localizer["Home"] - TaskForge</PageTitle>
<Loader IsLoading="IsLoading"/>

<div class="main-page-container">
    <div class="main-page-statistic-container">

    </div>

    <div class="main-page-statistic-container">

    </div>
    <div class="main-page-statistic-container">

    </div>
    <div class="main-page-statistic-container">

    </div>
</div>
